.header {
    height: 5vh;
    width: 100%;
    text-align: center;
    background: lightgray;
}

.main{
    height: 90vh;
    background: aliceblue;
}

.footer {
    height: 5vh;
    width: 100%;
    text-align: center;
    background: lightgray;
}